<footer id="footer">
    <a class="ankerLinks" href="#"><img class="postIcon" src="img/homeicon.png"><span class="itemLabel">Home></span</a>
    <a class="ankerLinks" href="#"><img class="postIcon" src="img/search-icon.png"><span class="itemLabel">Search</span></a>
    <a class="ankerLinks" href="#"><img class="postIcon" src="img/add-icon.png"><span class="itemLabel">Create</span></a>
    <a class="ankerLinks" href="#"><img class="postIcon" src="img/video-icon.png"><span class="itemLabel">Reels</span></a>
    <a class="ankerLinks" href="#"><img class="postIcon" src="img/profile-icon.png"><span class="itemLabel">Profile</span></a>
</footer>